<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="BeetlzPlugin.menuGroup"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="BeetlzPlugin.menu1"
               label="Beetlz"
               path="additions">
            <groupMarker
                  name="BeetlzPlugin.groupMarker1">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="BeetlzPlugin.alwaysPresentMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="beetlzplugin.popup.actions.RemoveMarkerAction"
               enablesFor="*"
               icon="icons/trash.gif"
               id="BeetlzPlugin.removeMarkersAction"
               label="%removeMarker"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%removeAllMarker">
         </action>
         <action
               class="beetlzplugin.popup.actions.BeetlzSkeleton"
               enablesFor="*"
               icon="icons/binary.gif"
               id="BeetlzPlugin.generateSkeletonAction"
               label="%generateSkeleton"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%generatesSkeletonCode">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="BeetlzPlugin.doesNotHaveNatureMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="beetlzplugin.popup.actions.BeetlzCheck"
               enablesFor="*"
               icon="icons/beetl.jpg"
               id="BeetlzPlugin.checkFilesAction"
               label="%checkFiles"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%checkAllFiles">
         </action>
         <action
               class="beetlzplugin.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/add.gif"
               id="BeetlzPlugin.addNatureAction"
               label="%addNature"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%addNatureTip">
         </action>
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="ie.ucd.bon.beetlz.plugin.beetlznature">
               </objectState>
            </not></visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="BeetlzPlugin.hasNatureMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="beetlzplugin.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/delete.gif"
               id="BeetlzPlugin.removeNatureAction"
               label="%removeNature"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%removeNatureTip">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="ie.ucd.bon.beetlz.plugin.beetlznature">
            </objectState></visibility>
      </objectContribution>
   </extension>
   
   <extension
         id="beetlzjavaerrormarker"
         name="Beetlz Java error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzmarker"
         name="Beetlz marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="beetlzplugin.preferences.BeetlzPreferencePage"
            id="beetlzplugin.preferences.BeetlzPreferencePage"
            name="Beetlz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="beetlzplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="beetlzjmlerrormarker"
         name="Beetlz JML error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzjmlwarningmarker"
         name="Beetlz JML warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzjavawarningmarker"
         name="Beetlz Java warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzgeneralnotemarker"
         name="Beetlz General Note"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="beetlzplugin.preferences.BeetlzProjectPreferencePage"
            id="beetlzplugin.preferences.BeetlzProjectPreferencePage"
            name="Beetlz">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
         <filter
               name="nature"
               value="BeetlzPlugin.beetlzNature">
         </filter>
      </page>
   </extension>
   <extension
         id="beetlzbuilder"
         name="Beetlz Consistency Checker"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="beetlzplugin.builder.BeetlzBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="beetlznature"
         name="Beetlz Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="beetlzplugin.builder.BeetlzNature">
         </run>
      </runtime>
      <builder
            id="ie.ucd.bon.beetlz.plugin.beetlzbuilder">
      </builder>
   </extension>
   
</plugin>
