Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Distribution: unstable
Description: A parser and typechecker for BON.
Maintainer: fintan.fairmichael@ucd.ie
Depends: sun-java5-bin | sun-java6-bin
