<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="CoqEditor.category"
            class="fr.inria.everest.coq.sugar.builder.CoqProjectWizard"
            icon="icons/coqtoo.gif"
            id="CoqEditor.wizard"
            name="Coq Project"
            project="true"/>
      <primaryWizard id="CoqEditor.primaryWizard"/>
      <wizard
            category="CoqEditor.category"
            class="fr.inria.everest.coq.sugar.builder.CoqFileWizard"
            descriptionImage="icons/coq.gif"
            icon="icons/coq.gif"
            id="CoqEditor.file.wiz"
            name="Vernacular file"/>
      <category
            id="CoqEditor.category"
            name="Coq"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="CoqEclipseSugar.command1"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="F3"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.everest.coq.sugar.Jump"
            id="CoqEclipseSugar.command1"
            name="CoqEclipseSugar.command1"/>
   </extension>

</plugin>
