<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bonIDE.presentation.BonIDEModelWizardID"
            name="%_UI_BonIDEModelWizard_label"
            class="bonIDE.presentation.BonIDEModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BonIDEModelFile.gif">
         <description>%_UI_BonIDEModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="bonIDE.presentation.BonIDEEditorID"
            name="%_UI_BonIDEEditor_label"
            icon="icons/full/obj16/BonIDEModelFile.gif"
            extensions="bonide"
            class="bonIDE.presentation.BonIDEEditor"
            contributorClass="bonIDE.presentation.BonIDEActionBarContributor">
      </editor>
   </extension>

</plugin>
