<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="prover" name="Prover" schema="schema/prover.exsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ProverEditor.actions"
            label="Prover Editor"
            visible="true">
         <action
               class="prover.gui.actions.BreakAction"
               icon="icons/dead.gif"
               id="ProverEditor.break"
               label="Break"
               style="push"
               toolbarPath="ProverEditor.actions"/>
         <action
               class="prover.gui.actions.ResetAction"
               definitionId="ProverEditor.reset_command"
               icon="icons/uptoo.gif"
               id="ProverEditor.resetproof"
               label="Reset"
               state="false"
               style="push"
               toolbarPath="ProverEditor.actions"/>
         <action
               class="prover.gui.actions.ProgressEndAction"
               definitionId="ProverEditor.eval_all_command"
               icon="icons/downtoo.gif"
               id="ProverEditor.progressend"
               label="Evaluate to the end"
               state="false"
               style="push"
               toolbarPath="ProverEditor.actions"/>
         <action
               class="prover.gui.actions.BackAction"
               definitionId="ProverEditor.back_command"
               icon="icons/up.gif"
               id="CoqEditor.back"
               label="Back"
               state="false"
               style="push"
               toolbarPath="ProverEditor.actions"/>
         <action
               class="prover.gui.actions.ProgressAction"
               definitionId="ProverEditor.progress_command"
               icon="icons/down.gif"
               id="ProverEditor.progress"
               label="Progress"
               state="false"
               style="push"
               toolbarPath="ProverEditor.actions"/>
         <action
               class="prover.gui.actions.BeginAction"
               icon="icons/icon_lego.gif"
               id="ProverEditor.beginproof"
               label="Respawn Prover"
               state="true"
               style="push"
               toolbarPath="ProverEditor.actions"/>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ProverEditor.jump_forward"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="M1+M3+ARROW_RIGHT"/>
      <key
            commandId="ProverEditor.jump_backward"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="M1+M3+ARROW_LEFT"/>
      <key
            commandId="ProverEditor.progress_command"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="M1+M3+ARROW_DOWN"/>
      <scheme
            description="extends no things"
            id="ProverEditor.scheme"
            name="Prover Editor"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="ProverEditor.back_command"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="M1+M3+ARROW_UP"/>
      <key
            commandId="ProverEditor.reset_command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ProverEditor.scheme"
            sequence="M1+M3+HOME"/>
      <key
            commandId="ProverEditor.eval_all_command"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="M1+M3+END"/>
      <key
            commandId="org.eclipse.ui.edit.text.cut.line.to.end"
            contextId="ProverEditor.context"
            schemeId="ProverEditor.scheme"
            sequence="M1+K"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ProverEditor.category"
            description="Progress in the current proof"
            id="ProverEditor.progress_command"
            name="Progress Command"/>
      <category
            description="Prover Editor Category"
            id="ProverEditor.category"
            name="Prover Editor"/>
      <command
            categoryId="ProverEditor.category"
            description="Back in the current proof"
            id="ProverEditor.back_command"
            name="Back Command"/>
      <command
            categoryId="ProverEditor.category"
            description="Reset the file"
            id="ProverEditor.reset_command"
            name="Reset Command"/>
      <command
            categoryId="ProverEditor.category"
            description="Evaluate all in the file"
            id="ProverEditor.eval_all_command"
            name="Evaluate All Command"/>
      <command
            categoryId="ProverEditor.category"
            defaultHandler="prover.gui.actions.JumpBackward"
            id="ProverEditor.jump_backward"
            name="Jump Backward"/>
      <command
            categoryId="ProverEditor.category"
            defaultHandler="prover.gui.actions.JumpForward"
            id="ProverEditor.jump_forward"
            name="Jump Forward"/>
      <command
      		categoryId="ProverEditor.category"
            defaultHandler="prover.gui.actions.JumpToTag"
            id="ProverEditor.jump_tag"
            name="Jump to tag"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="prover.gui.preference.PreferencePage"
            id="ProverEditor.page"
            name="Prover Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="ProverEditor.contribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="ProverEditor_menu"
               label="Prover Editor"
               />  
         <action
               class="prover.gui.popup.CompileFile"
               id="ProverEditor.compile"
               label="Compile"
               menubarPath="ProverEditor_menu/s"/>
         <action
               class="prover.gui.popup.LaunchIde"
               id="ProverEditor.launchide"
               label="Launch an IDE"
               menubarPath="ProverEditor_menu/s"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ProverEditor.foldercontribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFolder">
           <action
               class="prover.gui.popup.AddToLoadPath"
               id="ProverEditor.addtopath"
               label="ProverEditor: Add to loadpath"
               />  
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Prover"
            class="prover.gui.TopLevelManager"
            icon="icons/icon_lego_gray.gif"
            id="ProverEditor.topview"
            name="Prover Editor Toplevel"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="While editing a file from a prover"
            id="ProverEditor.context"
            name="In ProverEditor"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.core.resources.builders"
         id="builder"
         name="ProverEditor builder">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run class="prover.gui.builder.ProjectBuilder"/>
      </builder>
   </extension>
   <extension
         id="nature"
         name="ProverEditor Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="prover.gui.builder.ProjectNature"/>
      </runtime>
      <builder id="prover.editor.builder"/>
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/proj.gif"
            id="ProverEditor.project.image"
            natureId="prover.editor.nature"/>
   </extension>
</plugin>
