List of Requirements for Hawk
-----------------------------

1.	It must be designed with BON
2.	It must use all the available servers
3.	It must use Maven
4.	It must re-use all the existing test cases
5.	It must test all command line options
6.	It must test all theorem provers

Combining (4), (5) and (6) gives:

7.	It must achieve full functional and behavioral coverage (not just code coverage)

(7) implies:

8.	It must achieve full specification coverage
9.	It must generate enough test cases to achieve full specification coverage
10.	It must correlate and analyse the test results

Combining (2) and (3) implies:

11. It could use Hudson (hence the name Hawk)
12.	Test suites should written so as to run in parallel

Also:

13.	It needs to have a memorable name (hence the name Hawk)
14. It needs to be capable of testing all the components of the MOBIUS PVE
15. It would be nice if it was able to test the JML4 infrastructure

(14) and (15) imply

16. It would be nice if it was able to test some parts of the Eclipse platform

Also:

17. It must provide Automated Regression Testing i.e. given a program, a set of parameters and inputs; 
	verify that the outputs have or have not changed.  This does not assume the the existing outputs
	are correct, only that something has changed.  It might not be correct to store the expected results in
	subversion; but if we do then a naming convention will be needed