<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Canapa Action Set"
            visible="false"
            id="canapa.actionSet">
         <menu
               label="Canapa &amp;Menu"
               id="canapaMenu">
            <separator name="canapaGroup"/>
         </menu>
         <action
               toolbarPath="canapaGroup"
               label="&amp;Run Canapa"
               icon="icons/run.gif"
               class="canapa.actions.RunCanapaAction"
               tooltip="Run Canapa"
               menubarPath="canapaMenu/canapaGroup"
               id="canapa.actions.RunCanapaAction"/>
         <action
               toolbarPath="canapaGroup"
               label="C&amp;lean Canapa"
               class="canapa.actions.ClearCanapaAction"
               tooltip="Clear Canapa"
               icon="icons/clear.png"
               menubarPath="canapaMenu/canapaGroup"
               id="canapa.actions.ClearCanapaAction"/>
         <action
               toolbarPath="canapaGroup"
               label="Co&amp;mmitCanapa"
               class="canapa.actions.CommitCanapaAction"
               tooltip="Commit Canapa"
               icon="icons/commit.gif"
               menubarPath="canapaMenu/canapaGroup"
               id="canapa.actions.CommitCanapaAction"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="canapa.preferences.PreferencePage"
            id="canapa.preferences.PreferencePage"
            name="CANAPA">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="canapa.ui.console.CanapaOutputConsoleFactory"
            label="%Console.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="canapa.ui.console.CanapaConsolePageParticipant"
            id="canapa.ui.console.CanapaConsolePageParticipant">
         <enablement>
            <instanceof value="canapa.ui.console.CanapaOutputConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>

</plugin>
