<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            icon="src/beetl.jpg"
            id="BeetlzPlugin.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="beetlzplugin.popup.actions.BeetlzCheck"
               enablesFor="*"
               icon="src/beetl.jpg"
               id="BeetlzPlugin.resourceAction"
               label="%checkFiles"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%checkAllFiles">
         </action>
         <menu
               id="BeetlzPlugin.menu1"
               label="Beetlz"
               path="additions">
            <groupMarker
                  name="BeetlzPlugin.groupMarker1">
            </groupMarker>
         </menu>
         <action
               class="beetlzplugin.popup.actions.RemoveMarkerAction"
               enablesFor="*"
               icon="src/trash.gif"
               id="BeetlzPlugin.removeresourceAction"
               label="%removeMarker"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%removeAllMarker">
         </action>
         <action
               class="beetlzplugin.popup.actions.BeetlzSkeleton"
               enablesFor="*"
               icon="src/skull_icon.jpg"
               id="BeetlzPlugin.resourceAction"
               label="%generateSkeleton"
               menubarPath="BeetlzPlugin.menu1/groupMarker1"
               tooltip="%generatesSkeletonCode">
         </action>
      </objectContribution>
   </extension>
   <classpath>
   
   </classpath>
   <extension
         id="beetlzjavaerrormarker"
         name="Beetlz Java error"
         icon="icons/sample.gif" 
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzmarker"
         name="Beetlz marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="beetlzplugin.preferences.BeetlzPreferencePage"
            id="beetlzplugin.preferences.BeetlzPreferencePage"
            name="Beetlz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="beetlzplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="beetlzjmlerrormarker"
         name="Beetlz JML error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzjmlwarningmarker"
         name="Beetlz JML warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzjavawarningmarker"
         name="Beetlz Java warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="beetlzgeneralnotemarker"
         name="Beetlz General Note"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
</plugin>
