<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="mobiuspve.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="mobius.help.documentation.plugin.splashHandlers.InteractiveSplashHandler"
            id="mobius.help.documentation.plugin.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.eclipse.equinox.p2.director.app.product"
            splashId="mobius.help.documentation.plugin.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
