<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="Bytecode_to_JPO"
   name="Bytecode_to_JPO Plug-in"
   version="1.1.4"
   provider-name=""
   class="bytecode_to_JPO.Bytecode_to_JPOPlugin">

   <runtime>
      <library name="Bytecode_to_JPO.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="jack.plugin"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface"/> 
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="JackRequiredPlugins"/>
      <import plugin="ClassFileAnnotation"/>
   </requires>

  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="proveAction">
         <action
               class="jack.plugin.edit.EditJpoAction"
               icon="icons/jml_edit.gif"
               id="jack.plugin.openAction"
               label="Edit"
               menubarPath="bytecode/bytecode_slot">
         </action>
         <action
               class="bytecode_to_JPO.POGAction"
               icon="icons/jml_compile.gif"
               id="jb2J.POGAction"
               label="JML Compile"
               menubarPath="bytecode/bytecode_slot">
         </action>
      </objectContribution>
   </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="BtoJ"
           label="BtoJ"
           visible="true">
        <action
              class="jack.plugin.edit.EditJpoAction"
              icon="icons/jml_edit.gif"
              id="BtoJ.edit"
              label="Edit"
              state="false"
              style="push"
              toolbarPath="jack.plugin.actionSet/bytecode"
              tooltip="POs edit">
           <selection class="org.eclipse.jdt.core.ICompilationUnit"/>
           <enablement>
              <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
           </enablement>
        </action>
        <action
              class="bytecode_to_JPO.POGAction"
              icon="icons/jml_compile.gif"
              id="BtoJ.compile"
              label="JML Compile"
              state="false"
              style="push"
              toolbarPath="jack.plugin.actionSet/bytecode"
              tooltip="BML compile">
           <selection class="org.eclipse.jdt.core.ICompilationUnit"/>
           <enablement>
              <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
           </enablement>
        </action>
         <action
               class="annotation.AnnotationToolbarAction"
               icon="icons/Annotation.gif"
               id="ClassFileAnnotation.action"
               label="Classfile Annotation"
               state="false"
               style="push"
               toolbarPath="jack.plugin.actionSet/bytecode"
               tooltip="Annotate a classfile">
           <selection class="org.eclipse.jdt.core.ICompilationUnit"/>
           <enablement>
              <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
           </enablement>
         </action>  
     </actionSet>
  </extension>

</plugin>
