<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="jack.plugin.Prover">
      <language
            translationResultClass="bPlugin.BTranslationResult"
            name="B"
            languageClass="bPlugin.BLanguage"
            printerClass="bPlugin.BPrinter"
            proverStatusClass="bPlugin.ProverBStatus"
            proofTaskClass = "bPlugin.AtelierBProofTask"
            interactiveProverClass="bPlugin.BInteractive"
             id="language.B">
      </language>
      <language
            translationResultClass="bPlugin.BTranslationResult"
            name="BDisplayed"
            languageClass="bPlugin.BDisplayedLanguage"
            id="language.displayedB">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="proveAction">
         <action
               class="bPlugin.ProveBAction"
               icon="icons/jml_prove.gif"
               id="jack.plugin.proveBFileAction"
               label="with AtelierB"
               menubarPath="jack_source_menu/prover/prover_slot">
         </action>
        <action
              class="bPlugin.ProveBBytecodeAction"
              icon="icons/jml_prove_bc.gif"
              id="jack.plugin.proveBJpoFileAction"
              label="with AtelierB"
              menubarPath="bytecode/prover_jpo/prover_slot_jpo">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.jpo"
           id="proveJpoAction">
         <action
               class="bPlugin.ProveBAction"
               icon="icons/jml_prove.gif"
               id="jack.plugin.proveJpoFileAction"
               label="with AtelierB"
               menubarPath="jack_menu_jpo/prover_jpo/prover_slot_jpo">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="B prover Buttons"
            visible="false"
            id="jack.provers.b">
         <action
               class="bPlugin.ProveBButton"
               icon="icons/jml_prove.gif"
               id="bplugin.toolbar.proveAction"
               label="Prove with AtelierB"
               tooltip="Prove with the Atelier B">
            <selection
                  class="org.eclipse.jdt.core.ICompilationUnit">
            </selection>
            <enablement>
                    <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="B prover"
            category="jack.plugin.JackPreferencePageProvers"
            class="bPlugin.BPreferencePage"
            id="bplugin.BPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="B prover"
            class="bPlugin.BProjectPropertyPage"
            id="bplugin.BPropertyPage">
      </page>
   </extension>

</plugin>
