<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="AutoGrader.builder"
         name="Auto-Grader Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ie.ucd.autograder.builder.GraderBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="AutoGrader.nature"
         name="Auto-Grader Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ie.ucd.autograder.builder.GraderNature">
         </run>
      </runtime>
      <builder
            id="AutoGrader.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="AutoGrader.addNaturePopupMenu">
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="AutoGrader.nature">
               </objectState>
            </not>
         </visibility>
         <action
               label="Add Auto-Grader Nature"
               class="ie.ucd.autograder.builder.AddNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="AutoGrader.addRemoveNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="AutoGrader.removeNaturePopupMenu"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <objectState
                  name="nature"
                  value="AutoGrader.nature">
            </objectState>
         </visibility>
         <action
               class="ie.ucd.autograder.builder.RemoveNatureAction"
               enablesFor="+"
               id="AutoGrader.removeRemoveNatureAction"
               label="Remove Auto-Grader Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="AutoGrader"
            id="AutoGrader">
      </category>
      <view
            name="Auto-Grader"
            icon="icons/sample.gif"
            category="AutoGrader"
            class="ie.ucd.autograder.views.AutoGraderView"
            id="markeraccessor.views.AutoGraderView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="markeraccessor.views.AutoGraderView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
