Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Distribution: unstable
Description: Meteor web texts sender.
Maintainer: fintan.fairmichael@ucd.ie
Depends: openjdk-6-jre | sun-java5-bin | sun-java6-bin
