  body { margin:40px; color: black; background: white; }
    td{padding-right:10px;}
    .id {width:100px; color:blue;}
    .aliases {font-family:Courier; font-size:14px; background-color:lightgrey;}
    #validity-explanation{color:red;}
    #validity-cond{
       background-color:lightgrey; 
       overflow:auto; 
       font-size:14px; 
       font-family:Courier; 
    }
    #usage-str{
       align: center;
       background-color:lightgrey; 
       overflow:auto; 
       font-size:14px; 
       font-family:Courier; 
    }
    #options{}
    #index{float:right; 
           border:solid 1px;
           border-color: blue;
           padding-right:1em;
           }
    #contentpart {
        /*position:absolute;
        top: 80px;
        left:90px;
        right:90px; */
        text-align: left;
        padding:3em;
        font-size:90%;
        
    }