<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="umbra.BytecodeEditor"
            name="Bytecode Editor"
            class="umbra.editor.BytecodeEditor"
            contributorClass="umbra.editor.BytecodeEditorContributor"
            icon="icons/bytecode_file.gif"
            extensions="btc"
            default="true"
      />
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
         <actionSet
            label="Umbra"
            visible="false"
            id="mobius.umbra.actions">
   
      <!--editorContribution
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
            id="umbra.javaEditorContribution"-->
         <menu
               label="&amp;Bytecode"
               id="umbra.bytecodeMenu">
               <separator name="showGroup"/>
         </menu>
         <action
               toolbarPath="showGroup"
               label="Disassemble"
               tooltip="Disassemble byte code"
               icon="icons/disassemble.gif"
               class="umbra.java.actions.DisasBCEL"
               menubarPath="umbra.bytecodeMenu/showGroup"
               id="umbra.BCELTest"/>
         <action
               toolbarPath="showGroup"
               label="Compile JML"
               tooltip="Compile JML"
               icon="icons/jml-compile.gif"
               class="umbra.java.actions.JMLCompile"
               menubarPath="umbra.bytecodeMenu/showGroup"
               id="umbra.BCELTest"/>
         <action
               toolbarPath="showGroup"
               label="Show byte code"
               tooltip="Show byte code of selected statement"
               class="umbra.java.actions.SynchrSBAction"
               icon="icons/synchronize.gif"
               menubarPath="umbra.bytecodeMenu/showGroup"
               id="umbra.synchrAction"/>
         <action
               class="umbra.java.actions.CommitAction"
               icon="icons/commit.gif"
               id="umbra.commit"
               label="Combine Changes with Bytecode"
               menubarPath="umbra.bytecodeMenu/showGroup"
               toolbarPath="showGroup"/>
         </actionSet>
      </extension>
      <extension point="org.eclipse.ui.editorActions">
        <editorContribution
            targetID="umbra.BytecodeEditor"
            id="umbra.bytecodeEditorContribution">
         <menu
               label="&amp;Byte code"
               id="umbra.bytecodeMenu">
               <separator name="synchrGroup"/>
               <separator name="verifyGroup"/>
               <separator name="historyGroup"/>
               <separator name="colourGroup"/>
               <separator name="helpGroup"/>
         </menu>
         <action
               label="&amp;Installation info"
               tooltip="Installation info"
               class="umbra.editor.actions.info.InstalInfoAction"
               icon="icons/help.gif"
               menubarPath="umbra.bytecodeMenu/helpGroup"
               id="umbra.instalInfo"/>
         <action
               label="&amp;User guide"
               tooltip="User guide"
               class="umbra.editor.actions.info.UserGuideAction"
               icon="icons/help.gif"
               menubarPath="umbra.bytecodeMenu/helpGroup"
               id="umbra.userGuide"/>
      </editorContribution>
   </extension>
<!-- ============================================== -->
<!-- Define the main book                           -->
<!-- ============================================== -->
   <extension
         point="org.eclipse.help.toc"
         id="umbra.userGuide">
      <toc
            file="help/index.xml"
            primary="true">
      </toc>
   </extension>
<!-- =============================================== -->
<!-- Link the sections into the book                 -->
<!-- =============================================== -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_user_guide.xml">
      </toc>
      <toc
            file="help/toc_programmers_guide.xml">
      </toc>
      <toc
            file="help/toc_reference.xml">
      </toc>
   </extension>
</plugin>
