# This file is part of the 2003 Revision of the ESC Tools
# Author: David R. Cok

# This file is meant to be included by Makefiles.
# It contains variable definitions that are local to 
# a particular environment or user.
# Each definition is surrounded by ifndef/endif 
# or defined with ?= so that
# the variables can be defined as environment variables
# in the shell, preempting these assignments, if the user so desires.

# Each variable is 'export'ed so that it applies to submakes.

## This must be the directory containing the various ESC tools, 
## For example, it must contain this file (Makefile.local), 
## the top-level Makefile, and the directories Javafe, EscJava
export ESCTOOLS_ROOT ?= /home/cok/ESCTools/ESCTools

## Define JAVA_HOME if it is not defined in the environment
## The directory ${JAVA_HOME} should contain the subdirectory 'bin',
## which should contain executables such as java and javac
ifndef JAVA_HOME
export JAVA_HOME =
endif

## Define the location of the source files for the JDK
export JDK_SOURCES ?= ${JAVASOURCE}

## Define the location of the class files for the JDK.
## This can be a classpath of multiple locations (e.g. on MacOSX), but
## on most platforms is simply the rt.jar file.
export JDK_BINARIES ?= ${JAVA_HOME}/jre/lib/rt.jar

# @note kiniry 15 Jan 2003 - We must use JDK 1.2 as it (a) compiles to
# bytecodes that the decsrc package can parse, and (b) contains some
# classes (e.g., java.util.Arrays) on which ESC/Java depends.

## Define the location of the junit.jar file
## (This can alternatively be the location of the junit class files)
export JUNIT_LIB ?= ${ESCTOOLS_ROOT}/Utils/junit.jar

## Define the path for anything needed for JUnit tests

export JUNIT_UTILS_PATH = ${ESCTOOLS_ROOT}/Utils:${JUNIT_LIB}


## Define the location of any specification files for the JDK.
## This definition is optional.  
## The default will be the spec files provided as
## part of the Esc release.
ifndef JDKSPEC_ROOT
#export JDKSPEC_ROOT =
endif

## Other optional definitions
## Name of the executable to run java programs (must be on the PATH)
#export JAVA ?= java

## Name of the executable to compile java programs (must be on the PATH)
#export JAVAC ?= javac

## Name of the executable to generate javadoc html (must be on the PATH)
#export JAVADOC ?= javadoc
