<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mobius.perspective.certification.PerspectiveFactory"
            icon="icons/mobius_logo_sm.gif"
            id="Certification.perspective"
            name="Certification">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension 
       targetID="Certification.perspective">
      <actionSet id="MobiusDirectVCGenUI.actions"/>
      <actionSet id="mobius.umbra.actions"/>
    </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mobius.perspective.DesignPerspectiveFactory"
            id="Design.perspective"
            icon="icons/design.png"
            name="Design">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension 
       targetID="Design.perspective">
      <actionSet id="jml-plugin.toolbar"/>
    </perspectiveExtension>
   </extension>
   
  <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="mobius.perspective.AnalysisPerspectiveFactory"
            id="Analysis.perspective"
            icon="icons/analysis.jpg"
            name="Analysis">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension 
       targetID="Analysis.perspective">
      
    </perspectiveExtension>
   </extension> 
</plugin>
