<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="classFile.annotation">
         <action
               class="annotation.AnnotationAction"
               enablesFor="1"
               icon="icons/Annotation_bc.gif"
               id="classFile.annotation"
               label="Class file annotation"
               menubarPath="bytecode/bytecode_slot"
               state="false"
               style="push">
         </action>
      </objectContribution>
   </extension>


</plugin>
