<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!-- ignored plugin attributes
   id="mobius.escjava2.plugin"
   name="Escjava2 UI"
   version="2.0.3"
   provider-name="David R. Cok and the MOBIUS Project"
   class="mobius.escjava2.plugin.EscjavaPlugin"
-->

<!-- ignored elements follow
   <runtime>
      <library name="EscjavaPlugin.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="escjava.simplify"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="escjava.esctools"/>
   </requires>
-->

   <!-- This extension defines the Esc/Java project nature -->
     
   <extension
         id="autocheckEscjavaNature"
         name="EscjavaAutocheck"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="escjava.plugin.AutoCheckNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="mobius.escjava2.plugin.autocheckEscjavaBuilder">
      </builder>
   </extension>

<!-- This extension defines the automatic builder that 
	runs Esc/Java on files -->
	   
   <extension
         id="autocheckEscjavaBuilder"
         name="ESC/Java2 Autocheck Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="escjava.plugin.AutoCheckBuilder">
         </run>
      </builder>
   </extension>
   

<!-- This extension adds the preference page -->
   <extension
         id="mobius.escjava2.plugin.preferencesPage"
         name="ESCJava Preferences"
         point="org.eclipse.ui.preferencePages">
      <page 
         id="mobius.escjava2.plugin.preferences.EscJava" 
         name="ESC/Java2" 
         class="escjava.plugin.PreferencePage"
         category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"> 
      </page>
   </extension>
   
<!-- This extension adds a property page to hold the various
		options for Esc/Java checking. -->
<!-- Currently no project-specific values
		
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IResource"
            name="Escjava Properties"
            nameFilter="*"
            class="mobius.escjava2.plugin.EscjavaProperties"
            id="mobius.escjava2.plugin.EscjavaPropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
      <page
            objectClass="org.eclipse.jdt.core.IJavaElement"
            name="Escjava Properties"
            nameFilter="*"
            class="mobius.escjava2.plugin.EscjavaProperties"
            id="mobius.escjava2.plugin.EscjavaPropertyPage2">
          <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
     </page>

   </extension>
-->

<!-- This extension defines a new marker type for Esc/Java problems -->
<!-- The attribute is used to associate additional information with the marker -->  
   <extension
         id="mobius.escjava2.escjavaWarningMarker"
         name="ESC/Java2 Warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute name="declarationInfo"/>
   </extension>

   <!-- Provides the image for the markers -->
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            icon="icons/escjava_problem.gif"
            annotationType="escjava.plugin.escjavaProblemAnnotation">
      </specification>
   </extension>
   
   <!-- Sets the marker type to use in the editor -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="mobius.escjava2.plugin.escjavaWarningMarker"
            super="org.eclipse.ui.workbench.texteditor.error"
            name="escjava.plugin.escjavaProblemAnnotation"
            markerSeverity="2">
      </type>
   </extension>

	<!-- FIXME The examples of other tools seem to indicate 
	that the following would produce special icons in the
	Problems View.  But this does not.  -->
<!--
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="mobius.escjava2.plugin.escjavaWarningMarker"
            icon="icons/escjava_problem.gif"
            class="mobius.escjava2.plugin.EscjavaMarker$Provider"
            id="mobius.escjava2.plugin.escjavaMarkerImageProvider">
      </imageprovider>
   </extension>
-->

<!-- FIXME - comment here -->

   <extension
	    point="org.eclipse.ui.ide.markerResolution">
	  <markerResolutionGenerator
		markerType="mobius.escjava2.plugin.escjavaWarningMarker"
		class="escjava.plugin.MarkerResolutionGenerator">
	  </markerResolutionGenerator>
   </extension>
		 
	<!-- This extension adds menubar and toolbar items for initiating
		various Esc/Java operations.  The menu itmes are placed under 
		the same top-level menu item as JML operations (named 'JML')
		but in a different group.  The toolbar itetm is placed in the
		same toolbar group.
		-->
		 
   <extension
         point="org.eclipse.ui.actionSets">
         <actionSet
            label="EscJava Actions"
            visible="true"
            id="mobius.escjava2.plugin.actionSet">
         <menu
               label="JML"
               id="JMLMenu">
            <separator
                  name="EscjavaGroup">
            </separator>
         </menu>
        
         <action
               label="Disable auto ESC/Java2 checking"
               tooltip="Disables selected objects for auto ESC/Java2 checking"
               class="escjava.plugin.EscjavaAction$DisableESC"
               menubarPath="JMLMenu/EscjavaGroup"
               id="mobius.escjava2.plugin.EscjavaAction.DisableESC"
			   definitionId="mobius.escjava2.plugin.commands.DisableESC">
         </action>
         <action
               label="Enable auto ESC/Java2 checking"
               tooltip="Enables selected objects for auto ESC/Java2 checking"
               class="escjava.plugin.EscjavaAction$EnableESC"
               menubarPath="JMLMenu/EscjavaGroup"
               id="mobius.escjava2.plugin.EscjavaAction.EnableESC"
			   definitionId="mobius.escjava2.plugin.commands.EnableESC">
         </action>
         <action
               label="Go to associated declaration"
               tooltip="Opens an editor and positions it at the location specified by some information associated with a marker"
               class="escjava.plugin.EscjavaAction$GoToDecl"
               menubarPath="JMLMenu/EscjavaGroup"
               id="mobius.escjava2.plugin.GoToDeclAction"
               definitionId="mobius.escjava2.plugin.commands.GoToDeclaration">
         </action>         
         <action
               label="Clear ESC/Java2 Markers"
               tooltip="Clears any ESC/Java2 markers in the selected object"
               class="escjava.plugin.EscjavaAction$Clear"
               menubarPath="JMLMenu/EscjavaGroup"
               id="mobius.escjava2.plugin.ClearMarkerAction"
               definitionId="mobius.escjava2.plugin.commands.ClearMarkers">
         </action>
         <action
               label="ESC/Java2"
               tooltip="Runs ESC/Java2 static checks"
               class="escjava.plugin.EscjavaAction$Check"
               menubarPath="JMLMenu/EscjavaGroup"
               id="mobius.escjava2.plugin.EscjavaAction.Check"
               definitionId="mobius.escjava2.plugin.commands.CheckEscjava">
         </action>

         <!-- action
               toolbarPath="additions"
               label="ESC"
               tooltip="Runs Esc/Java2 static checks"
               class="mobius.escjava2.plugin.EscjavaAction$Check"
               id="mobius.escjava2.plugin.EscjavaAction.Check.Toolbar">
         </action> -->
<!--
            <action
               label="Test Information"
               tooltip="Experimental information"
               class="org.jmlspecs.JMLPlugin.actions.TestInfo"
               menubarPath="JMLMenu/JMLTest"
               id="org.jmlspecs.JMLPlugin.actions.TestInfo">
         </action> 
-->
         <menu
               label="Setup"
               path="JMLMenu/JMLSetupGroup"
               id="JMLSetup"
               >
               <separator name="JMLSetupSubmenu"/>
         </menu>           
         <action
               label="Disable ESC/Java Nature, remove Builder in SELECTED projects"
               tooltip="Removes the ESC/Java Nature from the project and the ESC/Java Builder from the Incremental builder"
               class="escjava.plugin.EscjavaAction$DisableEscjava"
               menubarPath="JMLMenu/JMLSetup/JMLSetupSubmenu"
               id="mobius.escjava2.plugin.EscjavaAction.DisableEscjava"
			   definitionId="mobius.escjava2.plugin.commands.DisableEscjava">
         </action> 
         <action
               label="Enable ESC/Java Nature, add Builder in SELECTED projects"
               tooltip="Adds the ESC/Java Nature to the project and the ESC/Java Builder to the Incremental builder"
               class="escjava.plugin.EscjavaAction$EnableEscjava"
               menubarPath="JMLMenu/JMLSetup/JMLSetupSubmenu"
               id="mobius.escjava2.plugin.EscjavaAction.EnableJML"
			   definitionId="mobius.escjava2.plugin.commands.EnableEscjava">
         </action> 
     </actionSet>
   </extension>

   <!-- These extensions add a menu item named 'Run ESC/Java2'
   		to the context menus of projects/packages/compilation units
   		and types in the Package Navigator and other views
   	-->
   <extension point="org.eclipse.ui.popupMenus">
	<objectContribution 
			objectClass="org.eclipse.jdt.core.IJavaElement" 
			id="mobius.escjava2.plugin.EscjavaActionPopupCheck">
  		<action 
  			label="Run ESC/Java2" 
  			tooltip="Runs ESC/Java2 on the project" 
  			class="escjava.plugin.EscjavaAction$Check" 
  			menubarPath="additions"
  			id="mobius.escjava2.plugin.Check.Popup" /> 
  	</objectContribution>
   </extension>

<!-- FIXME - comment here -->
<!-- This shows the menu item, but I can't get it to work
     <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitRulerContext"
            id="org.eclipse.jdt.ui.CompilationUnitEditorPopupActions">
         <action
               label="Go to Referenced Declaration"
               tooltip="Opens the declaration referenced by an Esc/Java2 warning"
               class="mobius.escjava2.plugin.WarningDeclarationsAction"
               menubarPath="additions"
               id="mobius.escjava2.plugin.WarningDeclarationsAction">
         </action>

      </viewerContribution>
   </extension>
   -->

<!-- FIXME - comment here  - why do we need this? -->
<!--
      <extension
         id="org.eclipse.jdt.ui.javaeditor"
         point="org.eclipse.ui.editors">
      <editor
            name="%JavaEditor.label"
            default="true"
            icon="icons/full/obj16/jcu_obj.gif"
            extensions="spec"
            id="org.eclipse.jdt.ui.CompilationUnitEditor">
      </editor>
      </extension>
-->

<!-- The following creates commands that are referenced by
	actions above and can be mapped to keys -->      
	
  <extension
	point="org.eclipse.ui.commands">
      <category
            name="ESC/Java2"
            description="ESC/Java related commands"
            id="mobius.escjava2.plugin.EscjavaCommandCategory">
      </category>
<!--      <command
            name="Enable Esc/Java2 autochecking"
            description="Enables Esc/Java2 autochecking of selected resources"
            category="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.EnableESC">
      </command> 
      <command
            name="Disable Esc/Java2 autochecking"
            description="Disables Esc/Java2 autochecking of selected resources"
            category="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.DisableESC">
      </command>   -->
      <command
            name="Install ESC/Java2"
            description="Installs ESC/Java2 nature and builder on the selected projects"
            categoryId="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.EnableEscjava">
      </command>
      <command
            name="Remove ESC/Java2"
            description="Removes ESC/Java2 nature and builder from the given project"
            categoryId="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.DisableEscjava">
      </command>
      <command
            name="Check ESC/Java2"
            description="Performs ESC/Java2 checks on selected Java elements"
            categoryId="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.CheckEscjava">
      </command>
      <command
            name="Clear ESC/Java2 Markers"
            description="Clears all ESC/Java2 Markers on selected objects"
            categoryId="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.ClearMarkers">
      </command>
      <command
            name="Go to associated declaration"
            description="Highlights the declaration being violated by a given problem marker"
            categoryId="mobius.escjava2.plugin.EscjavaCommandCategory"
            id="mobius.escjava2.plugin.commands.GoToDeclaration">
      </command>
  </extension>

<!-- This decorator is applied to compilation units; the associated
	class dynamically determines whether (a) a file and the project
	are enabled for ESC/Java2 checking, (b) only the file is, (c) the file is not.
	It then sets the decorator to one of two icons for (a) and (b)
	and no icon for (c).
	FIXME - is location and icon needed here?
	-->
<!--	
<extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_LEFT"
            label="ESC/Java2"
            icon="icons/JMLSmall.png"
            state="true"
            class="mobius.escjava2.plugin.EscjavaDecorator"
            id="mobius.escjava2.plugin.ESCDecorator">
         <description>
            ESC/Java2 checking is enabled for this resource (if assertion checking is enabled globally in the Project Builders Properties page)
         </description>
        <enablement>
                <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/> 
         </enablement>
      </decorator>
 </extension>
-->

<!-- This decorator is applied to Java projects to indicate whether
	they have a Esc/Java2 Nature (with decorator) or not (no decorator).
	-->
<extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            label="ESC/Java2"
            icon="icons/JMLSmall.png"
            state="true"
            id="mobius.escjava2.plugin.ESCDecoratorA">
         <description>
            ESC/Java2 nature is enabled for this project
         </description>
        <enablement>
        	<and>
                <objectState name="nature" value="mobius.escjava2.plugin.autocheckEscjavaNature"/>
                <objectClass name="org.eclipse.jdt.core.IJavaProject"/> 
             </and>
         </enablement>
         </decorator>
 </extension>

<!-- Not sure if this works or what it is for FIXME
<extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            label="ESC/Java2"
            icon="icons/escjava_problem.gif"
            state="true"
            id="mobius.escjava2.plugin.ESCDecorator1">
         <description>
            The problem was found by the ESC/Java2 tools
         </description>
        <enablement>
                <objectState name="id" value="mobius.escjava2.plugin.escjavaError"/>
< !- -        	<and>
                <objectState name="id" value="mobius.escjava2.plugin.escjavaError"/>
                <objectClass name="org.eclipse.jdt.core.IJavaProject"/> 
             </and> - - >
         </enablement>
         </decorator>
 </extension>
 -->

   <!-- This extension adds help information.
   	-->
   <extension
         point="org.eclipse.help.toc">
      <toc file="escjavaHelp.xml" primary="true" />
   </extension>
   <extension
         id="MobiusPVE"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="MobiusPVE">
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif,eclipse48.gif,icons/Mobius.gif,icons/Mobius.gif">
         </property>
         <property
               name="aboutText"
               value="Welcome to the Mobius program verification environment (PVE)!">
         </property>
         <property
               name="aboutImage"
               value="icons/mobius_logo.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="appName"
               value="MobiusPVE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
  
</plugin>
