<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ie.ucd.bon.plugin.editor.BONEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="bon"
            id="bonceditor"
            name="BON Editor">
      </editor>
   </extension>
   <extension
         id="boncbuilder"
         name="BONc Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
            <run class="ie.ucd.bon.plugin.builder.BONcBuilder"/>
      </builder>
   </extension>
   <extension
         id="boncnature"
         name="BONc Builder"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="ie.ucd.bon.plugin.nature.BONcProjectNature"/>
      </runtime>
      <builder id="ie.ucd.bon.plugin.boncbuilder"/> 
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="ie.ucd.bon.plugin.project.popupMenu">
         <menu
               label="BONc"
               path="additions"
               id="ie.ucd.bon.plugin.project.popupSubMenu">
            <groupMarker name="content"/>
            <separator name="additions"/>
          </menu>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="ie.ucd.bon.plugin.project.popupMenu">
         <visibility>
             <not>
                 <objectState name="nature" value="ie.ucd.bon.plugin.boncnature"/>
             </not>
         </visibility>
         <action
             id="ie.ucd.bon.plugin.project.addNature"
             label="Add BONc Nature to Project"
             tooltip="Add the BONc nature to the selected project(s), allowing the BONc builder to run on them."
             menubarPath="ie.ucd.bon.plugin.project.popupSubMenu/content"
             enablesFor="+"
             class="ie.ucd.bon.plugin.ui.AddBONcNatureActionDelegate">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="ie.ucd.bon.plugin.project.popupMenu">
         <visibility>
             <objectState name="nature" value="ie.ucd.bon.plugin.boncnature"/>
         </visibility>
         <action
             id="ie.ucd.bon.plugin.project.removeNature"
             label="Remove BONc Nature from Project"
             tooltip="Remove the BONc nature from the selected project(s). This will remove the BONc builder."
             menubarPath="ie.ucd.bon.plugin.project.popupSubMenu/content"
             enablesFor="+"
             class="ie.ucd.bon.plugin.ui.RemoveBONcNatureActionDelegate">
         </action>
      </objectContribution>
      
   </extension>
   

</plugin>
