<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ie.ucd.bon.plugin.editor.BONEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="bon"
            id="bonceditor"
            name="BON Editor">
      </editor>
   </extension>
   <extension
         id="boncbuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
            <run class="ie.ucd.bon.plugin.builder.BONcBuilder"/>
      </builder>
   </extension>
   <extension id="boncnature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="ie.ucd.bon.plugin.nature.BONcProjectNature"/>
      </runtime>
      <builder id="ie.ucd.bon.plugin.boncbuilder"/> 
   </extension>
   <extension
         point="org.eclipse.ui.menus">
	       <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="BONcPlugin.handler1">
      </handler>
   </extension>

</plugin>
