<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="ie.ucd.autograder.builder"
         name="Auto-Grader Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ie.ucd.autograder.builder.GraderBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ie.ucd.autograder.nature"
         name="Auto-Grader Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ie.ucd.autograder.builder.GraderNature">
         </run>
      </runtime>
      <builder
            id="ie.ucd.autograder.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="ie.ucd.autograder.addNaturePopupMenu">
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="AutoGrader.nature">
               </objectState>
            </not>
         </visibility>
         <action
               label="Add Auto-Grader Nature"
               class="ie.ucd.autograder.builder.AddNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="AutoGrader.addRemoveNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="ie.ucd.autograder.removeNaturePopupMenu"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <objectState
                  name="nature"
                  value="AutoGrader.nature">
            </objectState>
         </visibility>
         <action
               class="ie.ucd.autograder.builder.RemoveNatureAction"
               enablesFor="+"
               id="AutoGrader.removeRemoveNatureAction"
               label="Remove Auto-Grader Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="AutoGrader"
            id="AutoGrader">
      </category>
      <view
            name="AutoGrader"
            category="AutoGrader"
            class="ie.ucd.autograder.views.AutoGraderView"
            id="ie.ucd.autograder.views.AutoGraderView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="ie.ucd.autograder.views.AutoGraderView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ie.ucd.autograder.config.ui.ProjectConfigurationPropertyPage"
            id="ie.ucd.autograder.config.ProjectConfigurationPropertyPage"
            name="AutoGrader">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enabledWhen>
         <filter
               name="nature"
               value="ie.ucd.autograder.nature">
         </filter>
      </page>
   </extension>

</plugin>
