<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mobius.perspective.proving.PerspectiveFactory"
            icon="icons/perspective.png"
            id="ProverEditor.perspective"
            name="Proving">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension 
       targetID="ProverEditor.perspective">
      <actionSet id="ProverEditor.actions"/>
    </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.actionSetPartAssociations">
	<actionSetPartAssociation 
		targetID="ProverEditor.actions">
		<part id="ProverEditor.perspective"/>
		<part id="ProverEditor.topview" />
    </actionSetPartAssociation>
   </extension>
</plugin>
