<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="prover.gui.editor.ProverEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="v"
            icon="icons/coq.gif"
            id="coq.CoqEditor"
            name="CoqEditor">
      </editor>
   </extension>

   <extension
         point="prover.editor.prover">
      <language
            toplevel="fr.inria.everest.coq.editor.BasicCoqTop"
            extension=".v"
            name="Coq"
            translator="fr.inria.everest.coq.editor.CoqProverTranslator"/>
   </extension>

</plugin>
