## html.vm
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <!-- link type="text/css" rel="stylesheet" href="style.css" -->
  <title>$info.ParserName ($info.PackageName)</title>
  <style type="text/css">
    body { color: black; background: white; }
    .id {width:50px; color:blue;}
    .aliases {font-family:Courier; background-color=grey;}
  </style>
</head>

<body>
<h1>$info.ParserName</h1>
<p>
<a href="#options">Options</a><br/>
<a href="#rules">Rules</a>
</p>
<h2><a name="options">Options</a></h2>

#foreach($group in $info.getOptionGroupDescriptions())
<p>
<h3>$group.Identifier options</h3>
<table>
#foreach($child in $group.getChildren())
 #set($option =  $info.getOptionDescriptionForIdentifier($!child))
 <tr>
 <td><span class="id">$option.Identifier</span></td>
 <td><span class="aliases">
     #if("$!option.getAliases()" == "[]")
       #if( $option.getType().getType() != 0 )
           &lt;$option.getType().getTypeDescriptionString()&gt;
       #end
     #end
     #foreach($alias in $option.getAliases())
       $alias
      
       #if( $option.getType().getType() != 0 )
           &lt;$option.getType().getTypeDescriptionString()&gt;
       #end
       <br/>
     #end
     </span></td>
 <td><span class="description">$!option.Description</span></td>
 </tr>
  #end
</table>
#end

<h2><a name="rules">Rules</a></h2>
 
#foreach($rule in $info.getOverrideRuleDescriptions())

<p>
#foreach($assignment in $rule.getAssignments())
Assignment: $!assignment.OptionIdentifier = $!assignment.Value
#end
</p>
<p>
  Condition: $!rule.getConditionText()
</p>
#end

#foreach($rule in $info.getValidityRuleDescriptions())

<p>
#foreach($assignment in $rule.getAssignments())
Assignment: $!assignment.OptionIdentifier = $!assignment.Value
#end
</p>
<p>Condition: $!rule.getConditionText()
</p>
</p>
<p>Explanation: $!rule.getExplanation()
</p>
#end

#foreach($rule in $info.getFlyRuleDescriptions())

<p>
#foreach($assignment in $rule.getAssignments())
Assignment: $!assignment.OptionIdentifier = $!assignment.Value
#end
</p>
<p>Condition: $!rule.getConditionText()
</p>

#end
</body>
</html>
