Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Distribution: unstable
Description: Parser/typechecker/documentation generator for BON.
Maintainer: fintan.fairmichael@ucd.ie
Depends: graphicsmagick, rubber, texlive-extra-utils, openjdk-6-jre | sun-java5-bin | sun-java6-bin
