<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mobius.perspective.verification.expert.PerspectiveFactory"
            id="Verification.expert.perspective"
            icon="icons/perspective.gif"
            name="Verification (Extras)">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension 
       targetID="Verification.expert.perspective">
      <actionSet id="canapa.actionSet"/>
      <actionSet id="mobius.escjava2.actions"/>
      <actionSet id="mobius.rcc.actions"/>
      <actionSet id="mobius.umbra.actions"/>
    </perspectiveExtension>
   </extension>
</plugin>
