<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin id="jack.plugin"
        name="Jack plug-in"
   version="1.8.5"
   provider-name="INRIA Sophia - Everest project"
   class="jack.plugin.JackPlugin">
   <runtime>
      <library name="jack.jar">
         <export name="*"/>
      </library>
   </runtime>
     <extension-point id="Prover" name="prover" schema="schema/Prover.exsd"/>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Jack"
            icon="imgs/icons/jack_perspective.gif"
            class="jack.plugin.perspective.JackPerspective"
            id="jack.plugin.perspective.JackPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
      <toc
            file="help/tocgs.xml">
      </toc>
      <toc
            file="help/tocconcepts.xml">
      </toc>
      <toc
            file="help/tocapi.xml">
      </toc>
   </extension>
<!--   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
      </perspectiveExtension>
   </extension>
-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="jack.plugin.compile.CompileAction">
         <menu
               label="Jack (Source)"
               path="additions"
               id="jack_source_menu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <menu
               label="Prove"
               path="jack_source_menu/slot1"
               id="prover">
            <separator
                  name="prover_slot">
            </separator>
         </menu>
         <menu
               label="Jack (Bytecode)"
               path="additions"
               id="bytecode">
            <separator
                  name="bytecode_slot">
            </separator>
         </menu>
          <menu
               label="Prove"
               path="bytecode/bytecode_slot"
               id="prover_jpo">
            <separator
                  name="prover_slot_jpo">
            </separator>
         </menu>
         <action
               class="jack.plugin.metrics.MetricsAction"
               icon="imgs/icons/jack_metrics.gif"
               id="jack.plugin.MetricsAction"
               label="Metrics"
               menubarPath="jack_source_menu/slot1">
         </action>
         <action
               class="jack.plugin.source.AddJmlAction"
               icon="imgs/icons/compute.gif"
               id="jack.plugin.addModifiesAction"
               label="Compute specification clause"
               menubarPath="jack_source_menu/slot1">
         </action>
         <action
               class="jack.plugin.edit.EditAction"
               icon="imgs/icons/jml_edit.gif"
               id="jack.plugin.openAction"
               label="Edit"
               menubarPath="jack_source_menu/slot1">
         </action>
<!--         
         <action
               label="Verify bytecode"
               class="jack.plugin.compile.VerifyBytecodeAction"
               menubarPath="jack_menu/slot1"
               id="jack.plugin.newAction">
         </action>
-->
         <action
               class="jack.plugin.compile.VerifySourceAction"
               icon="imgs/icons/jml_compile.gif"
               id="jack.plugin.newAction"
               label="Verify source"
               menubarPath="jack_source_menu/slot1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.jpo"
            id="prove.edit.jpo">
         <menu
               label="Jack"
               path="additions"
               id="jack_menu_jpo">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <menu
               label="Prove"
               path="jack_menu_jpo/slot1"
               id="prover_jpo">
            <separator
                  name="prover_slot_jpo">
            </separator>
         </menu>
         <action
               label="Edit"
               class="jack.plugin.edit.EditAction"
               menubarPath="jack_menu_jpo/slot1"
               id="jack.plugin.openAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.spec"
            id="propagate.annotation">
         <menu
               label="Jack"
               path="additions"
               id="jack_menu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="Verify source"
               class="jack.plugin.compile.VerifySourceAction"
               menubarPath="jack_menu/slot1"
               id="jack.plugin.newAction1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.prop"
            id="propagate.annotation1">
         <menu
               label="Jack"
               path="additions"
               id="jack_menu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="Verify source"
               class="jack.plugin.compile.VerifySourceAction"
               menubarPath="jack_menu/slot1"
               id="jack.plugin.newAction2">
         </action>
      </objectContribution>
   </extension>
<!--
  <extension point="org.eclipse.ui.editors"> 
      <editor 
         id="jack.plugin.perspective.CaseEditor" 
         icon="jpov/icons/jml_compile.gif"
         name="Case Editor" 
         class="jack.plugin.perspective.CaseEditor"
         default="false"> 
      </editor> 
   </extension> 
-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Jack"
            class="jack.plugin.JackPreferencePage"
            id="jack.plugin.JackPreferencePage">
      </page>
      <page
            name="compiler"
            category="jack.plugin.JackPreferencePage"
            class="jack.plugin.JackPreferencePageCompiler"
            id="jack.plugin.JackPreferencePageCompiler">
      </page>
      <page
            name="lemma viewer"
            category="jack.plugin.JackPreferencePage"
            class="jack.plugin.JackPreferencePageEditor"
            id="jack.plugin.JackPreferencePageEditor">
      </page>
      <page
            name="provers"
            category="jack.plugin.JackPreferencePage"
            class="jack.plugin.JackPreferencePageProvers"
            id="jack.plugin.JackPreferencePageProvers">
      </page>
   </extension>
   <extension
         id="jack.plugin.views"
         name="Jack views"
         point="org.eclipse.ui.views">
      <category
            name="Jack"
            id="jack.category">
      </category>
      <view
            name="Jack Proof View"
            icon="imgs/icons/proof_task.gif"
            category="jack.category"
            class="jack.plugin.prove.ProofView"
            id="jack.plugin.proofview">
      </view>
      <view
            name="Jack Metrics View"
            icon="imgs/icons/jack_metrics.gif"
            category="jack.category"
            class="jack.plugin.metrics.MetricsView"
            id="jack.plugin.metricsview">
      </view>
      <view
            name="Lemma viewer"
            icon="imgs/icons/lemma_view.gif"
            category="jack.category"
            class="jack.plugin.perspective.LemmaViewer"
            id="jack.plugin.perspective.LemmaViewer">
      </view>
      <view
            name="Case Explorer"
            icon="imgs/icons/case_explorer.gif"
            category="jack.category"
            class="jack.plugin.perspective.CaseExplorer"
            id="jack.plugin.perspective.CaseExplorer">
      </view>
      <view
            name="Case Viewer"
            icon="imgs/icons/case_viewer.gif"
            category="jack.category"
            class="jack.plugin.perspective.SourceCaseViewer"
            id="jack.plugin.perspective.SourceCaseViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="Jack"
            class="jack.plugin.JackProjectPropertyPage"
            id="jack.plugin.projectproperty">
      </page>
   </extension>
   <extension
         id="jackproblem"
         name="jack.plugin.jackproblem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Jack Buttons"
            visible="true"
            id="jack.plugin.actionSet">
         <action
               class="jack.plugin.prove.ProvePullDownAction"
               icon="imgs/icons/prove_with.gif"
               id="jack.plugin.prove"
               label="Prove with..."
               style="pulldown"
               toolbarPath="jack.plugin.actionSet"
               tooltip="Prove with...">
               <selection
                  class="org.eclipse.jdt.core.ICompilationUnit"/>
            <enablement>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            </enablement>
         </action>
         <action
               class="jack.plugin.source.AddJmlAction"
               icon="imgs/icons/compute.gif"
               id="jack.plugin.compute.spec.clause"
               label="Compute Specification Clause"
               style="push"
               toolbarPath="jack.plugin.actionSet"
               tooltip="Compute Specification Clause">
            <selection
                  class="org.eclipse.jdt.core.ICompilationUnit"/>
            <enablement>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            </enablement>
         </action>
         <action
               label="JML Edit"
               icon="imgs/icons/jml_edit.gif"
               tooltip="Edit the selected JML file in the viewer"
               class="jack.plugin.edit.EditButton"
               toolbarPath="jack.plugin.actionSet"
               id="jack.plugin.toolbar.editAction">
            <selection
                  class="org.eclipse.jdt.core.ICompilationUnit">
            </selection>
            <enablement>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            </enablement>
         </action>
         <action
               label="JML Compile"
               icon="imgs/icons/jml_compile.gif"
               tooltip="Compile the selected JML file(s)"
               class="jack.plugin.compile.CompileButton"
               toolbarPath="jack.plugin.actionSet"
               id="jack.plugin.toolbar.compileAction">
            <selection
                  class="org.eclipse.jdt.core.ICompilationUnit">
            </selection>
            <enablement>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            label="Jml Compiled Decorator"
            state="false"
            class="jack.plugin.compile.CompilationUnitDecorator"
            id="jack.plugin.jmlcompileddecorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
