<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="mobius.directvcgen.ui.poview.ProjectProofs"
            icon="icons/tool.gif"
            id="CoqMobiusUI.view"
            name="POsExplorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="MobiusDirectVCGenUI.actions"
            label="DirectVCGenUI"
            visible="false">
         <action
               class="mobius.directvcgen.ui.poview.CompileAction"
               enablesFor="1"
               icon="icons/Hammer.gif"
               id="MobiusDirectVCGenUI.compile"
               label="Generate the Proof Obligations"
               style="push"
               toolbarPath="MobiusDirectVCGen.actions">
         </action>
      </actionSet>
   </extension>
 
   
 
</plugin>
