<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension point="org.eclipse.ui.actionSets">
    <actionSet
          description="Race Condition Checker commands"
          id="mobius.rcc.actions"
          label="RCC"
          visible="false">
       <action
             class="mobius.rcc.ui.RunAction"
             enablesFor="1"
             icon="icons/rcc.gif"
             id="mobius.rcc.ui.run"
             label="Run RCC on a file"
             style="push"
             toolbarPath="RCC,actions">
       </action>
    </actionSet>
 </extension>
</plugin>
